.testiomonal .items {
    padding: 30px;
    transition: .5s;
}

.testiomonal .img {
    position: relative;
}

.testiomonal img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testiomonal i {
    position: absolute;
    bottom: 0;
    left: 60px;
    background-color: #1eb2a6;
    color: #fff;
}

.testiomonal .name {
    margin: 25px;
}

.testiomonal .name h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.testiomonal .name span {
    color: #1eb2a6;
}

.testiomonal .name p {
    color: #1eb2a6;
    margin-top: 20px;
    transition: .5s;
}

.testiomonal .items:hover {
    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;
}

.testiomonal .items:hover p,
.testiomonal .items:hover span {
    color: #fff;
}

.testiomonal .items:hover i {
    background-color: #fff;
    color: #1eb2a6;
}